/*mein erstes Stylesheet*/
body{
	font-family:sane-serif;
	}
.wichtig{
	color:red;
	font-weight:bold;
}
#abblidung1 {
		background-color:lime;
		}
h1,h2,h3
	{
	font-family:serif;
	}
h1
			{
			text-align:center;
			front-size:80px;
			}
h3
			{
			color:green;
			}
			figure 
			{
			border:2px dotted green;
			padding:2em;
			}
ol { border:3px black;
	}